---
# role: {{ role_name }}
# file: tasks/setup.yml
#
# Tasks to setup {{ role_name }}.
# Each task should be clearly named, with no inventory variable in the name.

- name: fail unconditionally
  fail:
