---
# role: {{ role_name }}
# file: tests/test.yml

- hosts: tests
  roles:
    - role: {{ role_name }}
      {{ role_name }}__action: setup

    - role: {{ role_name }}
      {{ role_name }}__action: unset
