---
# role: {{ role_name }}
# file: handlers/main.yml
#
# This file should contain tasks that will be played at the end of the play,
# i.e. when other roles have been played too.  Notified handlers may be played
# anytime with:
# - meta: flush_handlers.
#
#- name: restart {{ role_name }} service
#  systemd:
#    name: {{ role_name }}
#    daemon_reload: yes
#    enabled: yes
#    state: restarted
#  listen: {{ role_name }}__restart
